<!--Si podemos ver las invitaciones o invitar veremos lo siguiente-->
@if (listarNotificaciones || puedeInvitar) {

  <!-- Botón flotante para abrir/cerrar el panel -->
  <button id="notifications-flot" (click)="toggleNotificationsPanel()">
      <i class="bi bi-bell-fill"></i>
  </button>
  <!-- Panel flotante (NOTA; Los componentes deberían ser mutuamente excluyentes) -->
  @if (mostrarPanel) {
    <div class="floating-card">
      <h3>Invitaciones</h3> <br><hr><hr><br>

      @if(listarNotificaciones) {
        <app-list-invitations (aceptarInvitacionEmmiter)="aceptoInvitacion()"></app-list-invitations>
      }

      @if(puedeInvitar) {
        <app-send-invitations></app-send-invitations>
      }
  </div>
  }
}