<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" action="">
    <h1>Inicia Sesión para Continuar</h1>

    <div class="inputs-container inputs-required">

        <label>(*) Username:</label>
        <input formControlName="username" type="text" placeholder="Ingresa tu nombre de usuario" style="width: 100%;"/>

        <label>(*) Contraseña:</label>
        <input formControlName="password" minlength="8" type="password" placeholder="Ingresa tu contraseña" style="width: 100%;" />
    
        
        <button type="submit" style="width: 100%;">Iniciar Sesión</button>
    </div>
</form>