.invitations-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 2vh;
}

button {
  width: 40%;
  height: 1.7rem;

  border-radius: 20px;

  color: var(--main-bg-color);

  border: 0;
  cursor: pointer;

  box-shadow: -0.1vw 0.4vh 0.5rem 0 var(--text-color);
  transition: box-shadow 0.2s ease-out;
}
button:active { box-shadow: none; }

.accept-invitation { background-color: var(--success-color); }
.reject-invitation { background-color: var(--tertiary-bg-color); }