<div>
    <div id="invitations-container">
      <h4>Lista de invitaciones recibidas</h4>
      @for(invitacion of invitations; track invitacion.id) {
        <div>
          <div>
            <span>Fecha de envio: {{ invitacion.created_at| date:'dd/MM/yyyy' }}</span>
          </div>
          <div>
            <span style="font-style:italic;"> (dd/mm/aaaa) </span>
          </div>
        </div>
        <div>
          <span>Org. Id.: {{ invitacion.organization }}</span>
        </div>
        <div>
          <div>
            <span>Remitente: {{ invitacion.inviter_username }}</span>
          </div>
          <div>
            <span style="font-style:italic;"> (email): {{ invitacion.inviter_email }} </span>
          </div>
        </div>
        <div class="invitations-buttons-container">
          <button (mousedown)="acceptInvitation(invitacion)" class="accept-invitation">Aceptar</button>
          <button (mousedown)="rejectInvitation(invitacion)" class="reject-invitation">Rechazar</button>
        </div>

        <br><hr><br>
      } @empty {
        <br><p>Sin invitaciones...</p>
        <br><hr><br>
      }
    </div>
  </div>