<main>
    <article>
        <div class="article-image">
            <img src="home-gestion.png" alt="Gestión" />
        </div>
        <div class="article-body">
            <div class="a-title">
                <span>Gestión Eficiente de Tareas</span>
            </div>
            <div class="a-text">
                <p>Con Tareas, puedes crear y organizar tus actividades de manera personalizada. Establece fechas límite cuando lo necesites o mantén un enfoque flexible. Además, puedes marcar las tareas completadas para llevar un registro visual de tu progreso y sentir la satisfacción de cumplir tus objetivos.</p>
            </div>
        </div>
    </article>
    <article>
        <div class="article-body">
            <div class="a-title">
                <span>Lorem ipsum dolor sit amet.</span>
            </div>
            <div class="a-text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam laudantium enim molestiae at quaerat voluptatibus, ex sequi tempora nemo corrupti.</p>
            </div>
        </div>
        <div class="article-image">
            <img src="home-3.jpg" alt="Imagen" />
        </div>
    </article>
    <article>
        <div class="article-image">
            <img src="home-2.jpg" alt="Imagen" />
        </div>
        <div class="article-body">
            <div class="a-title">
                <span>Lorem ipsum dolor sit.</span>
            </div>
            <div class="a-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque dicta repellat, nostrum dolorum amet.</p>
            </div>
        </div>
    </article>
</main>